@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-kiro: #f1c766;
  --color-gavin: #8dbddd;
  --color-victor: #e7787f;
  --color-lucien: #8f92c4;
  --color-shaw: #9d9ca1;

  --color-message-blue: #c3d0fe;
  --color-message-pink: #fcdee6;
  --color-message-purple: #e8c7e9;
  --color-highlight-purple: hsla(281, 43%, 68%, 1);

  --color-npc-bg: #f9f9f9;
  --color-npc-border: #d9d5e1;

  --color-mc-bg: #fff2f9;
  --color-mc-border: #d9d5e1;

  --color-kiro-bg: #f1c76635;
  --color-gavin-bg: #8dbddd35;
  --color-victor-bg: #e7787f35;
  --color-lucien-bg: #8f92c435;
  --color-shaw-bg: #9d9ca135;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-noto-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
